html {
  font-size: 62.5%; /* Now 10px = 1rem! */
}

body {
  font-size: 16px; /* px fallback */
  font-size: 1.6rem; /* default font-size for document */
  line-height: 1.5; /* a nice line-height */
  background-color: $color__background;
}

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms;

  &.active,
  &.loading {
    opacity: 1;
    pointer-events: all;
  }
}

.modal-overlay {
  padding-top: 4.4rem;
}

.panel {
  box-shadow: rgba(0, 0, 0, 0.09) 0 1px 0;
  background: white;
  padding: 15px;
}

.grabber {
  &::before {
    content: "\f142 \f142";
    letter-spacing: 0.1em;
    font-family: FontAwesome;
    margin-right: 0.4rem;
    font-size: 1.2rem;
    position: relative;
    top: 0rem;
    margin-left: 0.1rem;
    color: lighten($color__st_tropaz, 25%);
    padding: 1rem;
    cursor: -webkit-grab;
  }
}