.container {
  max-width: 97rem;
  margin: 0 auto;
  padding-top: $gutter;
}

@mixin row {
  display: flex;
  margin-bottom: $gutter;
  padding: 0 $gutter;
}

@mixin col {
  margin: 0 $gutter 0 0;

  &:last-of-type {
    margin-right: 0;
  }
}

.row--s { @include mq($from: s) { @include row; } }
.row--m { @include mq($from: m) { @include row; } }
.row--l { @include mq($from: l) { @include row; } }

.row {
  .modal & {
    //margin: 0;
    //padding: 0;
  }
}

.col {
  margin: 0 $gutter $gutter;
  background-color: lightgray;
  display: flex;
  align-items: stretch;

  .row--s & { @include mq($from: s) { @include col; } }
  .row--m & { @include mq($from: m) { @include col; } }
  .row--l & { @include mq($from: l) { @include col; } }
}

.col--1 { flex: 1; }
.col--2 { flex: 2; }
.col--3 { flex: 3; }

.col--center {
  justify-content: center;
}

.col--transparent {
  background-color: transparent;
}

.panel {
  padding: 1rem;
  width: 100%;

  .col--center & {
    width: auto;
  }
}

.panel--nopad {
  padding: 0;
}

.panel--header {
  padding: 0.8rem 1.2rem;

  @include mq($from: xs) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
