.container {
  max-width: 97rem;
  margin: 0 auto;
  position: relative;
  padding-top: $gutter;
}

@mixin row {
  display: flex;
  margin-bottom: $gutter;
  padding: 0 $gutter;
}

@mixin col {
  margin: 0 $gutter 0 0;

  &:last-of-type {
    margin-right: 0;
  }
}

.row--s { @include mq($from: s) { @include row; } }
.row--m { @include mq($from: m) { @include row; } }
.row--l { @include mq($from: l) { @include row; } }

div[class^="col"] {
  margin: 0 $gutter $gutter;
  background-color: lightgray;
  display: flex;
  align-items: stretch;

  .row--s & { @include mq($from: s) { @include col; } }
  .row--m & { @include mq($from: m) { @include col; } }
  .row--l & { @include mq($from: l) { @include col; } }

}

.col-1 { flex: 1; }
.col-2 { flex: 2; }

.col--center {
  justify-content: center;
}

.panel {
  padding: 1rem;
  width: 100%;

  .col--center & {
    width: auto;
  }
}
