.minimal-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;

  thead::after {
    content: '-';
    display: block;
    line-height: 0.5;
    visibility: hidden;
    display: table-row;
  }

  th {
    border-bottom: 2px solid darkgreen;
    color: darken(darkgreen, 10);
    padding: 0.2rem 1rem;
  }

  td {
    padding: 0.2rem 1rem;
  }

  tr:hover td {
    background-color: lighten(lightgrey, 5);
  }
}
