a {
  color: $color__burnham;
  text-decoration: none;
  cursor: pointer;
  transition: color 200ms;

  &:hover {
    color: darken($color__burnham, 25%);
    text-decoration: underline;
  }
}

h3 {
  font-size: 1.4rem;
  margin: 0.2rem 0 0.4rem 0;
}
