.unit-types__group {
  font-size: 1.4rem;
}

.unit-types__unit {
  margin-left: 0.5rem;
  margin-top: 0.4rem;
}

.unit-types__weight {
  margin-bottom: 0;
}

.unit-types__label {
  line-height: 2.4;
  margin-bottom: 1.5rem;
}

.unit-types__error-row {
  position: relative;
  top: -1rem;
  width: 100%;
  text-align: right;
}