// Colours
$color__midnight:      #001935;
$color__burnham:       #003A22;
$color__st_tropaz:     #255C99;
$color__tropical_blue: #D1E8F9;
$color__apple:         #5AB23A;
$color_stiletto:       #9C3336;

// Greys
$color__gallery:       #EFEFEF;
$color__alto:          #DBDBDB;