@mixin loading {
  content: '';
  margin: auto;
  font-size: 0.8rem;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  -webkit-animation: spinney 1.1s infinite ease;
  animation: spinney 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  position: absolute;
  top: calc(34vh + 2rem);
  left: 50%;
  z-index: 20;
}
