$color_wild_sand: #F4F4F4;
$color_fuscous_gray: #484746;
$color_picton_blue: #3aa3e3;
$color_mandy: #E75650;
$color_cinnabar: #e53935;
$color_pastel_pink: #ffcdd2;
$color_moss_green: #a5d6a7;
$color_de_york: #81c784;
$color_parsley: #1b5e20;
$color_sea_pink: #ef9a9a;
$color_sun_glow: #E57373;
$color_thunderbird: #b71c1c;
$color_amaranth: #E91E63;
$color_mercury: #e9e9e9;
$color_daintree: #002b36;
$color_alabaster: #FAFAFA;
$color_gallery: #EEEEEE;