@import "~font-awesome/scss/font-awesome.scss";
@import "colours";
@import "loader";
@import "modal";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 14px;
    font-family: helvetica;
    background: rgb(235, 238, 243);
    color: #616161;
}

a {
    text-decoration: none;
    color: #616161;
}

img {
    display: block;
    width: 100%;
}

.container {
    margin-bottom: 50px;
}

.navbar {
	background: white;
  	padding: 15px 25px;
   	box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
   	display: flex;
   	justify-content: space-between;
   	align-items: center;

   	&__brand a {
        color: $color_amaranth;
        font-weight: bold;
    }
    &__list {
    	margin: 0;
        padding: 0;
    }
    &__item {
    	display: inline;
    	margin-left: 25px;
    }
}

.form {
	background: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0 1px 0;
    width: 30%;
    margin: 30px auto;
    padding: 15px;
    &__container {
        margin-bottom: 2rem;
        background-color: #FEFEFE;
        padding: 0.4rem;
        border: 1px solid #EEEEEE;
        border-radius: 0.2rem;
    }
	&__group {
        margin-top: 15px;
        &--inline {
            display: flex;

            label {
                flex: 0 0 14rem;
            }

            .form__control {
                max-width: 20rem;
            }
        }
	    label {
	        display: block;
	        margin-bottom: 5px;
	    }
	}
	&__control {
	    font-size: 14px;
	    width: 100%;
	    display: block;
	    background: $color_alabaster;
	    border: none;
	    border-radius: 2px;
	    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1);
	    outline: none;
	    padding: 8px;

        &[type="checkbox"] {
            width: auto;
        }

	    &:focus {
	        background: rgba(225, 245, 254, 0.31);
	    }
	}
    &__qty {
        width: 45%;
        margin: 0px 10px;
    }
    &__margin {
        margin-right: 10px;
    }
    &__description {
        height: 152px;
    }
}

.btn {
    border: none;
    border-radius: 3px;
    font-size: 13px;
    height: 30px;
    padding: 8px 16px;
    position: relative;
    text-shadow: none;
    vertical-align: top;
    cursor: pointer;
    background: $color_wild_sand;
    color: $color_fuscous_gray;
    box-shadow: 0 1px darken($color_wild_sand, 13%);
    outline: none;
    text-decoration: none;
    display: inline-block;
    line-height: 1.15;
    &:active {
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }
    &[disabled] {
        opacity: 0.75;
        cursor: not-allowed;
    }
    &__primary {
    	background: $color_picton_blue;
    	color: white;
    	box-shadow: 0 1px darken($color_picton_blue, 13%);
    }
    &__danger {
        background: $color_mandy;
        color: white;
        box-shadow: 0 1px darken($color_mandy, 13%);
    }
}

.error {
    &__control {
        color: $color_cinnabar;
    }
    &__bg {
        background: $color_pastel_pink!important;
    }
}


.flash {
    width: 50%;
    margin: 0 auto;
    margin-top: 15px;
    padding: 15px;
    border-radius: 2px;
    &__success {
        background: $color_moss_green;
        border: 1px solid $color_de_york;
        color: $color_parsley;
    }
    &__error {
        background: $color_sea_pink;
        border: 1px solid $color_sun_glow;
        color: $color_thunderbird;
    }
}

.recipe {
    &__header {
        box-shadow: rgba(0, 0, 0, 0.09) 0 1px 0;
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px;
        margin-top: 10px;
    }
    &__list {
        width: 960px;
        margin: 0 auto;
        padding-top: 25px;
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        width: 33.333%;
    }
    &__inner {
        display: block;
        box-shadow: rgba(0, 0, 0, 0.09) 0 1px 0;
        background: white;
        margin: 10px;
    }
    &__name {
        padding: 10px;
        margin: 0px;
    }
    &__show {
        width: 960px;
        margin: 0 auto;
        padding: 15px;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px;
    }
    &__box {
        box-shadow: rgba(0, 0, 0, 0.09) 0 1px 0;
        background: white;
        padding: 15px;
    }
    &__title {
        color: $color_amaranth;
    }
    &__image {
        width: 40%;
    }
    &__details {
        width: 60%;
    }
    &__details_inner {
        margin-left: 25px;
        box-shadow: rgba(0, 0, 0, 0.09) 0 1px 0;
        background: white;
        padding: 15px;
    }
    &__pantry {
        width: 60%;
    }
    &__pantry_inner {
        margin-left: 25px;
        box-shadow: rgba(0, 0, 0, 0.09) 0 1px 0;
        background: white;
        padding: 15px;
    }
    &__ingredients {
        width: 40%;
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0px;
            border-top: 1px dashed $color_mercury;
        }
    }
    &__directions {
        width: 60%;
        ul {
            padding: 0;
        }
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px dashed $color_mercury;
        }
    }
    &__directions_inner {
        margin-left: 25px;
        box-shadow: rgba(0, 0, 0, 0.09) 0 1px 0;
        background: white;
        padding: 15px;
    }
    &__ingredient {
        display: flex;
        justify-content: space-around;
        margin-bottom: 10px;
    }
    &__pantry__ingredient {
        display: inline-block;
        padding: 0.4rem;
        background-color: $color_daintree;
        color: white;
        border-radius: 0.2rem;
        margin: 0.3rem 0.3rem 0 0;
        cursor: -webkit-grab;
    }
    &__rows {
        min-height: 10rem;
        position: relative;
    }
    &__rows--empty::after {
        content: 'Drag some ingredients here to start your recipe.';
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 4rem;
        text-align: center;
    }
    &__nutrition {
        width: 40%;
    }
}

.grabber {
    &::before {
        content: "\f142 \f142";
        letter-spacing: 0.1em;
        font-family: FontAwesome;
        margin-right: 0.4rem;
        font-size: 0.9rem;
        position: relative;
        top: 0rem;
        margin-left: 0.1rem;
        color: lighten($color_daintree, 25%);
    }
}

.nutrition-row {
    border-bottom: 2px solid black;
    padding-bottom: 0.4rem;
    display: Flex;
    line-height: 2.2;

    &__unit {
        white-space: nowrap;
        flex-grow: 0;
        flex-shrink: 0;
    }
    &__value {
        text-align: right;
        width: 100%;
    }
    select {
        max-width: 10rem;
        display: inline-block;
    }
}

.drop-zone {
    border: 0.3rem dashed $color_daintree;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.sortable-ghost {
    margin: 1rem;
}

@keyframes pulse {
    0%   {border-color: $color_daintree;}
    25%  {border-color: lighten($color_daintree, 15%);}
    50%  {border-color: $color_daintree;}
    75%  {border-color: lighten($color_daintree, 15%);}
    100% {border-color: $color_daintree;}
}

.empty-message {
    text-align: center;
    width: 100%;
    margin-top: 2rem;
}

.row {
    background-color: $color_alabaster;
    padding: 0.4rem;
    border: 1px solid $color_gallery;
    border-radius: 0.2rem;

    &__segment {
        width: 33.33333%;
        line-height: 2.4;
    }

    &__handle {
        padding: 0.6rem 0.2rem 0rem 0.1rem;
    }
}

.image {
    &__upload {
        height: 257px;
        background: $color_alabaster;
        border: 1px dashed  rgba(0,0,0,.1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__preview {
        position: relative;
    }
    &__close {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.not__found {
    box-shadow: rgba(0, 0, 0, 0.09) 0 1px 0;
    background: white;
    padding: 15px;
    width: 960px;
    margin: 30px auto;
}

.edit-ingredient-bar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 12rem;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 400ms;
    text-align: center;

    &.active {
        opacity: 1;
    }

    .inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .message {
        top: 50%;
        position: absolute;
        font-weight: bold;
        color: $color_daintree;
        width: 100%;
        font-size: 1rem;
    }
}
